<div style="background: linear-gradient(135deg, #004d40 0%, #005676 100%) !important; height: 220vh; padding: 0;">
    <nav class="nav">
      <div class="nav-logo">
        <a href="" style="text-decoration: none;">
          <p>QuestSocial</p>
        </a>
      </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="" class="link ">Home</a></li>
                
                <li><a href="#" class="link active">About</a></li>
            </ul>
        </div>
        <div class="nav-button">
           
            <button class="nav-button btn" onclick="location.href='login'" style="color: white;">Sign In</button>
        </div>
    </nav>
    
    <div style="height: 200vh; width: 98vw;">
        <div class="hero-section-unique" style="height: 90vh;">
            <div class="hero-text-content-unique" >
                <h1 class="f900 fw-extrabold mt0">
                    About QuestSocial Bringing brands and people together
                </h1>
                <p>
                    Building a beloved brand is not simply about what you sell, but the connections you make with the people who love and trust your brand. At Quest Social, we believe there is no place where this is more vital than social media. Our intuitive platform offers comprehensive social media management solutions, including publishing and engagement functionality, customer care, influencer marketing, advocacy and AI-powered business intelligence. We enable organizations of all sizes to be more open, real and empathetic on social media and create the kind of authentic connection with their consumers that drives businesses forward.
                </p>
                
            </div>
            <div class="hero-image-content-unique">
                <iframe src="../../../assets/images/videoplayback.mp4" 
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="impact-section-unique" style="background: linear-gradient(135deg, #000000 0%, #310e9c 100%) !important; width: 99vw; height: 80vh;">
          <h2>Tech Stacks Used</h2>
          <p>
              Quest’s unified social media management platform leverages cutting-edge technologies to ensure robust performance, seamless integration, and efficient data management. Our platform is built using Java Spring Boot for backend services, AngularJS for a dynamic and responsive frontend, and PostgreSQL for reliable and scalable database management.
          </p>
          <div class="impact-features-unique">
              <div class="impact-feature-unique" style="   background: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
              z-index: 80;
              backdrop-filter: blur(10px); /* Add blur effect */">
                  <img class="icon-unique" src="../../../assets/images/icons8-spring-boot-480.png">
                  <h3> Spring Boot: </h3>
                  <p>
                   Java-based framework simplifying the development of production-ready applications with its convention-over-configuration approach and comprehensive ecosystem.
                  </p>
              </div>
              <div class="impact-feature-unique" style="   background: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
              z-index: 80;
              backdrop-filter: blur(10px); /* Add blur effect */">
                  <img class="icon-unique" src="../../../assets/images/programing.png">
                  <h3>Angular:</h3>
                  <p>
                     Front-end JavaScript framework for building single-page applications with a modular and component-based architecture.
                  </p>
              </div>
              <div class="impact-feature-unique" style="   background: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
              z-index: 80;
              backdrop-filter: blur(10px); /* Add blur effect */">
                  <img class="icon-unique" src="../../../assets/images/icons8-postgresql-480.png">
                  <h3> PostgreSQL:</h3>
                  <p>
                    Open-source relational database management system known for its extensibility, standards compliance, and robust feature set, supporting SQL and JSON querying.
                  </p>
              </div>
          </div>
          
        </div>
        
       
        <footer class="custom-footer" style="width: 99vw;">
            <div class="custom-footer-container" style="display: flex!important;">
              <div class="custom-footer-logo">
                <img src="../../../assets/images/influencer.png" style="height: 300px; width: auto;margin: 0px 70px 0px 0px;" alt="Sprout Social Logo" />
              </div>
              <div class="custom-footer-sections">
                <div class="custom-footer-section">
                  <h4>Platform</h4>
                  <ul>
                    <li>Engagement</li>
                    <li>Publishing</li>
                    <li>Analytics</li>
                    <li>Premium analytics</li>
                    
                  </ul>
                </div>
                <div class="custom-footer-section">
                  <h4>Solutions</h4>
                  <ul>
                    <li>Enterprise</li>
                    <li>Agencies</li>
                    <li>Small and medium businesses</li>
                    <li>Professional services</li>
                    
                  </ul>
                </div>
                <!-- <div class="custom-footer-section">
                  <h4>Integrations</h4>
                  <ul>
                    <li>Facebook</li>
                    <li>X</li>
                    <li>Instagram</li>
                    <li>LinkedIn</li>
                    
                  </ul>
                </div> -->
                
                <div class="custom-footer-section">
                  <h4>Company</h4>
                  <ul>
                    <li>About Sprout</li>
                    <li>Office locations</li>
                    <li>Careers</li>
                   
                  </ul>
                </div>
                <div class="custom-footer-section">
                  <h4>Support</h4>
                  <ul>
                    <li>Help center</li>
                    <li>FAQs</li>
                    <li>System status</li>
                  </ul>
                </div>
              </div>
              
            </div>
            <div class="custom-footer-contact">
                <div class="custom-footer-phone">
                  <!-- <p>1.866.878.3231</p> -->
                </div>
                <div class="custom-footer-social-icons">
                  <a ><img src="../../../assets/images/reddit.png" alt="LinkedIn"></a>
                  <a ><img src="../../../assets/images/instagram.png" alt="Instagram"></a>
                  <a ><img src="../../../assets/images/facebook.png" alt="Facebook"></a>
                  <a ><img src="../../../assets/images/tik-tok.png" alt="Twitter"></a>
                 
                </div>
              </div>
          </footer>
    </div>
    
      
</div>
