<div style="background: linear-gradient(135deg, #004d40 0%, #005676 100%) !important; height: 254.5vh; padding: 0;">
    <nav class="nav">
      <div class="nav-logo">
        <a href="" style="text-decoration: none;">
          <p>QuestSocial</p>
        </a>
      </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="#" class="link active">Home</a></li>
                
                <li><a href="about" class="link">About</a></li>
            </ul>
        </div>
        <div class="nav-button">
            <!-- <button class="btn" onclick="location.href='login'">Sign In</button> -->
            <button class="nav-button btn" onclick="location.href='login'" style="color: white;">Sign In</button>
        </div>
    </nav>
    
    <div style="height: 200vh; width: 98vw;">
        <div class="hero-section-unique" style="height: 100vh;">
            <div class="hero-text-content-unique">
              <h1 class="f900 fw-extrabold mt0" style="font-size: 40px;">
                Don’t just manage social, master it
            </h1>
            <p>
                Our all-in-one social media management platform unlocks the full potential of social to transform not just your marketing strategy—but every area of your organization.
            </p>
            <div class="hero-buttons-unique">
                <!-- <button class="btn-unique start-trial">Start your free trial</button> -->
                <button class="btn-unique request-demo" onclick="location.href='login'">Post Problem</button>
            </div>
            <p class="no-credit-card-unique">Free for use.</p>
            <div class="hero-awards-unique">
                
                <p>Empower your organization with our all-in-one social media management platform. Transform your brand's online presence and drive real business results.</p>
            
            
            </div>
            
            
            </div>
            <div class="hero-image-content-unique">
                <img src="../../../assets/images/product-collage_homepage_tech-brand-SaaS.webp" alt="Social media dashboard and person using laptop">
            </div>
        </div>
        
        <div class="impact-section-unique">
            <h2>Driving business impact should be easier</h2>
            <p>
                Quest’s unified social media management platform enables your team to extract real business value, strengthen your market position and drive revenue—quickly.
            </p>
            <div class="impact-features-unique">
                <div class="impact-feature-unique">
                    <img class="icon-unique" src="../../../assets/images/dollar.png">
                    <h3>See value faster</h3>
                    <p>
                        Get the insights your team has been waiting for—now. You won’t spend months onboarding, wondering how much of your budget went to learning how to use our platform.
                    </p>
                </div>
                <div class="impact-feature-unique">
                    <img class="icon-unique" src="../../../assets/images/infographic-bars.png">
                    <h3>Capture insights with ease</h3>
                    <p>
                        Stay ahead of your competitors with a platform that guides you to make strategic business decisions based on accurate data with help from our advanced AI and Machine Learning (ML) technology.
                    </p>
                </div>
                <div class="impact-feature-unique">
                    <img class="icon-unique" src="../../../assets/images/refresh_162314.png">
                    <h3>Transition seamlessly</h3>
                    <p>
                        Elevate your business without rebuilding your tech stack. Our global Salesforce partnership and social network integrations make it easy to work within your current processes.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="row scrolling-container">
           
            <div class="scrolling-wrapper">
                <div class="scrolling-text">
                    <img src="../../../assets/images/amazon_15527760.png" alt="">
                    <img src="../../../assets/images/ibm_5969147.png" alt="">
                    <img src="../../../assets/images/linkedin_3536569.png" alt="">
                    <img src="../../../assets/images/search_281747.png" alt="">
                    <img src="../../../assets/images/stack_15059835.png" alt="">
                </div>
                <div class="scrolling-text">
                    <img src="../../../assets/images/amazon_15527760.png" alt="">
                    <img src="../../../assets/images/ibm_5969147.png" alt="">
                    <img src="../../../assets/images/linkedin_3536569.png" alt="">
                    <img src="../../../assets/images/search_281747.png" alt="">
                    <img src="../../../assets/images/stack_15059835.png" alt="">
                </div>
                <div class="scrolling-text">
                    <img src="../../../assets/images/amazon_15527760.png" alt="">
                    <img src="../../../assets/images/ibm_5969147.png" alt="">
                    <img src="../../../assets/images/linkedin_3536569.png" alt="">
                    <img src="../../../assets/images/search_281747.png" alt="">
                    <img src="../../../assets/images/stack_15059835.png" alt="">
                </div>
                <div class="scrolling-text">
                    <img src="../../../assets/images/amazon_15527760.png" alt="">
                    <img src="../../../assets/images/ibm_5969147.png" alt="">
                    <img src="../../../assets/images/linkedin_3536569.png" alt="">
                    <img src="../../../assets/images/search_281747.png" alt="">
                    <img src="../../../assets/images/stack_15059835.png" alt="">
                </div>
                <div class="scrolling-text">
                    <img src="../../../assets/images/amazon_15527760.png" alt="">
                    <img src="../../../assets/images/ibm_5969147.png" alt="">
                    <img src="../../../assets/images/linkedin_3536569.png" alt="">
                    <img src="../../../assets/images/search_281747.png" alt="">
                    <img src="../../../assets/images/stack_15059835.png" alt="">
                </div>
            </div>
           
        </div>
        <footer class="custom-footer" style="width: 99vw;">
            <div class="custom-footer-container" style="display: flex!important;">
              <div class="custom-footer-logo">
                <img src="../../../assets/images/influencer.png" style="height: 300px; width: auto;margin: 0px 70px 0px 0px;" alt="Sprout Social Logo" />
              </div>
              <div class="custom-footer-sections">
                <div class="custom-footer-section">
                  <h4>Platform</h4>
                  <ul>
                    <li>Engagement</li>
                    <li>Publishing</li>
                    <li>Analytics</li>
                    <li>Premium analytics</li>
                    
                  </ul>
                </div>
                <div class="custom-footer-section">
                  <h4>Solutions</h4>
                  <ul>
                    <li>Enterprise</li>
                    <li>Agencies</li>
                    <li>Small and medium businesses</li>
                    <li>Professional services</li>
                    
                  </ul>
                </div>
             
                
                <div class="custom-footer-section">
                  <h4>Company</h4>
                  <ul>
                    <li>About Sprout</li>
                    <li>Office locations</li>
                    <li>Careers</li>
                   
                  </ul>
                </div>
                <div class="custom-footer-section">
                  <h4>Support</h4>
                  <ul>
                    <li>Help center</li>
                    <li>FAQs</li>
                    <li>System status</li>
                  </ul>
                </div>
              </div>
              
            </div>
            <div class="custom-footer-contact">
                <div class="custom-footer-phone">
                 
                </div>
                <div class="custom-footer-social-icons">
                  <a ><img src="../../../assets/images/reddit.png" alt="LinkedIn"></a>
                  <a ><img src="../../../assets/images/instagram.png" alt="Instagram"></a>
                  <a ><img src="../../../assets/images/facebook.png" alt="Facebook"></a>
                  <a ><img src="../../../assets/images/tik-tok.png" alt="Twitter"></a>
                 
                </div>
              </div>
          </footer>
    </div>
    
      
</div>
