<div class="row">
    <div class="col-md-12">
      <div class="dashboard">
        <div class="chart-container">
          <h2 class="chart-heading">Company Size</h2>
          <canvas id="MyDoughnutChart">{{doughnutchart}}</canvas>
        </div>
        <div class="chart-container">
          <h2 class="chart-heading">Notice answered</h2>
          <canvas id="MyPieChart">{{piechart}}</canvas>
        </div>
        <div class="chart-container">
          <h2 class="chart-heading">Solution Frequency</h2>
          <canvas id="MyLineChart">{{linechart}}</canvas>
        </div>
        <div class="chart-container">
          <h2 class="chart-heading">Post Frequency</h2>
          <canvas id="AllProblemsLineChart">{{allProblemsLineChart}}</canvas>
        </div>
        

      </div>
    </div>
  </div>
  