<div class="sidebar">
    <div class="sidebar-header">
        <i class="fas fa-brackets-curly"></i>
        <h3 style="font-weight: bold;">Admin Dashboard</h3>
    </div>
    <ul class="sidebar-menu">
        <li >
            <a routerLink="/admin">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a routerLink="/admin/add_companies">
                <i class="fas fa-tachometer-alt"></i>
                <span>Company</span>
            </a>
        </li>
        <li>
            <a routerLink="/admin/users">
                <i class="fas fa-th"></i>
                <span>Users</span>
            </a>
        </li>
        <li>
            <a routerLink="/admin/profile">
                <i class="fas fa-user"></i>
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a (click)="logOut()">
                <i class="fas fa-out"></i>
                <span>Log out</span>
            </a>
        </li>
    </ul>
</div>